/* Code tidied up by ScrapBook */
.W_outFrame fieldset, img { border: 0px none; }
@media not all, not all {
}
@-moz-document url-prefix("") {
  .W_outFrame .W_arrow { line-height: 13px; }
}
@media not all, not all, not all, not all {
}
@media not all, not all, not all, not all {
}
@media not all, not all, not all, not all {
  .WB_global_nav .gn_logo { background: url("cssStyle/WB_logo-x2.png") no-repeat scroll 0% 0% / 190px 78px transparent; }
}
.B_fav_sel .nologo, .B_user .nologo { height: 20px; }
