/* Code tidied up by ScrapBook */
@media �screen,screen	 {
}
@media �screen,screen	 {
}
@media �screen,screen	 {
}
@media �screen,screen	 {
}
@media �screen,screen	 {
}
@media �screen,screen	 {
}
@media �screen,screen	 {
}
.private_send_box { width: 100%; border-top-style: solid; border-top-width: 1px; }
.sendbox_mod { padding: 16px; }
.sendbox_mod .sendbox_area { padding-right: 26px; }
.sendbox_mod .sendbox_area .W_input { width: 100%; height: 22px; padding: 5px 12px 0px; border-bottom: medium none; box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1) inset; }
@media �screen,screen	 {
}
@media �screen,screen	 {
}
@-moz-document url-prefix("") {
  .layer_add_tag .tag_showpicL .codetag, .layer_add_tag .tag_showpicR .codetag { line-height: 19px; }
  .layer_add_tag .tag_showpicL .inner .txt, .layer_add_tag .tag_showpicR .inner .txt { font-family: Tahoma; line-height: 19px; }
}
@media �screen,screen	 {
}
@media �screen,screen	 {
}
@-moz-document url-prefix("") {
  .layer_multipic_preview .tag_showpicL .codetag, .layer_multipic_preview .tag_showpicR .codetag { line-height: 19px; }
  .layer_multipic_preview .tag_showpicL .inner .txt, .layer_multipic_preview .tag_showpicR .inner .txt { font-family: Tahoma; line-height: 19px; }
}
@media �screen,screen	 {
}
@media not all, not all {
}
@keyframes html5-video-live-comment {
0% { transform: translate3d(0px, 0px, 0px); }
100% { transform: translate3d(-1500px, 0px, 0px); }
}
