/* Code tidied up by ScrapBook */
body, button, input, select, textarea { font: 12px/1.125 Arial,Helvetica,sans-serif; }
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr { margin: 0px; padding: 0px; }
li { list-style: none outside none; }
fieldset, img { border: 0px none; }
a:focus, input, textarea { outline-style: none; }
input[type="text"], input[type="password"], textarea { outline-style: none; }
address, caption, cite, code, dfn, em, i, th, var, b { font-style: normal; font-weight: normal; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
a { color: rgb(10, 140, 210); text-decoration: none; }
a:hover { text-decoration: underline; }
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
.CH { font-family: "SimSun"; }
.W_Yahei { font-family: "Microsoft Yahei"; }
.W_input, .W_inputStp { border: 1px solid rgb(204, 204, 204); border-radius: 2px; height: 28px; padding: 0px 0px 0px 2px; vertical-align: middle; color: rgb(128, 128, 128); box-shadow: 0px 1px 1px 0px rgb(234, 234, 234) inset; }
:root .W_input, :root .W_inputStp {  }
.W_input_focus, .W_input:focus, .W_inputStp:focus { border-color: rgb(255, 185, 65) ! important; box-shadow: 1px 1px 1px 0px rgb(221, 221, 221) inset; color: rgb(51, 51, 51); }
@-moz-document url-prefix("") {
  .W_arrow { line-height: 13px; }
}
.W_ico12 { display: inline-block; width: 12px; height: 12px; background-image: url("icon.png"); background-repeat: no-repeat; }
a:hover .W_ico12, a:hover .W_ico16, a:hover .W_ico20 { cursor: pointer; }
.icon_addone { background-position: -125px -49px; vertical-align: middle; }
@media not all, not all, not all, not all {
}
.W_btn_e span, .W_btn_e_disable span, .W_btn_f span, .W_btn_f_disable span, .W_btn_g span, .W_btn_g_disable span { text-align: center; white-space: nowrap; display: inline-block; border-style: solid; border-width: 1px; border-radius: 2px; height: 26px; line-height: 25px; vertical-align: middle; }
.W_btn_e span, .W_btn_e_disable span { min-width: 68px; padding: 0px 14px; }
.W_btn_e:hover, .W_btn_e_disable:hover, .W_btn_f:hover, .W_btn_f_disable:hover, .W_btn_g:hover, .W_btn_g_disable:hover, .W_btn_g_current { text-decoration: none; }
.W_btn_e, .W_btn_f { display: inline-block; border-width: 1px; border-style: solid; border-radius: 2px; overflow: hidden; vertical-align: middle; cursor: pointer; border-color: rgb(217, 217, 217); background-color: rgb(242, 242, 242); }
.W_btn_e span, .W_btn_f span { vertical-align: middle; border-color: rgb(255, 255, 255); color: rgb(51, 51, 51); }
.W_btn_e:hover, .W_btn_f:hover, .W_btn_g { border-width: 1px; border-style: solid; border-color: rgb(255, 155, 1); background-color: rgb(255, 160, 10); color: rgb(255, 255, 255); border-radius: 2px; display: inline-block; overflow: hidden; vertical-align: middle; cursor: pointer; }
.W_btn_e:hover span, .W_btn_f:hover span, .W_btn_g:hover span { border-width: 1px; border-style: solid; border-color: rgb(255, 206, 130); color: rgb(255, 255, 255); text-align: center; }
.W_btn_e:hover, .W_btn_f:hover, .W_btn_g:hover, .W_btn_e:hover span, .W_btn_f:hover span, .W_btn_g:hover span { text-decoration: none; background: -moz-linear-gradient(center top , rgb(255, 184, 71) 0%, rgb(255, 162, 16) 100%) repeat scroll 0% 0% transparent; }
.W_btn_a_disable, .W_btn_a_disable:hover, .W_btn_b_disable, .W_btn_b_disable:hover, .W_btn_c_disable, .W_btn_c_disable:hover, .W_btn_d_disable, .W_btn_d_disable:hover, .W_btn_v_disable, .W_btn_v_disable:hover, .W_btn_e_disable, .W_btn_e_disable:hover, .W_btn_f_disable, .W_btn_f_disable:hover, .W_btn_g_disable, .W_btn_g_disable:hover { display: inline-block; border-width: 1px; border-style: solid; border-radius: 2px; overflow: hidden; vertical-align: middle; cursor: pointer; }
.W_btn_e_disable span, .W_btn_e_disable:hover span, .W_btn_f_disable span, .W_btn_f_disable:hover span, .W_btn_g_disable span, .W_btn_g_disable:hover span { color: rgb(204, 204, 204); cursor: default; text-decoration: none; text-align: center; white-space: nowrap; display: inline-block; border-style: solid; border-width: 1px; border-radius: 2px; height: 26px; line-height: 25px; vertical-align: middle; }
.W_btn_a_disable, .W_btn_a_disable:hover, .W_btn_b_disable, .W_btn_b_disable:hover, .W_btn_c_disable, .W_btn_c_disable:hover, .W_btn_d_disable, .W_btn_d_disable:hover, .W_btn_v_disable, .W_btn_v_disable:hover, .W_btn_e_disable, .W_btn_e_disable:hover, .W_btn_f_disable, .W_btn_f_disable:hover, .W_btn_g_disable, .W_btn_g_disable:hover { border-color: rgb(217, 217, 217); background: none repeat scroll 0% 0% rgb(242, 242, 242); }
.W_btn_a_disable span, .W_btn_a_disable:hover span, .W_btn_b_disable span, .W_btn_b_disable:hover span, .W_btn_c_disable span, .W_btn_c_disable:hover span, .W_btn_d_disable span, .W_btn_d_disable:hover span, .W_btn_v_disable span, .W_btn_v_disable:hover span, .W_btn_e_disable span, .W_btn_e_disable:hover span, .W_btn_f_disable span, .W_btn_f_disable:hover span, .W_btn_g_disable span, .W_btn_g_disable:hover span { border-color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(242, 242, 242); color: rgb(204, 204, 204); cursor: default; text-decoration: none; }
@media �screen,screen	 {
}
@media not all, not all, not all, not all {
}
@keyframes dropdown {
0% { transform: translate(0px, -100%); }
100% { transform: translate(0px, 0px); }
}
.WB_global_personcard fieldset, img { border: 0px none; }
@media �screen,screen	 {
}
@media �screen,screen	 {
}
.layer_menu_list { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(51, 51, 51); border: 1px solid rgb(204, 204, 204); border-radius: 2px; padding: 1px; }
.layer_menu_list ul { margin: 0px; padding: 0px; clear: both; }
.layer_menu_list ul li { position: static; float: none; margin: 0px; padding: 0px; display: inline; }
.layer_menu_list ul li a { white-space: nowrap; min-width: 36px; padding: 8px 10px; color: rgb(51, 51, 51); display: block; cursor: pointer; }
.layer_menu_list ul li a:hover, .layer_menu_list ul li.cur a, .layer_menu_list ul li.cur a:hover { background-color: rgb(230, 230, 230); text-decoration: none; }
.layer_menu_list .y_scroll { overflow-y: scroll; }
.msg_set_select .icon_addone { margin-right: 4px; display: none; }
.msg_set_select li { text-indent: 16px; line-height: 100%; }
.msg_set_select li.select { text-indent: 0px; }
.msg_set_select li.select .icon_addone { display: inline-block; }
@keyframes rct1 {
0% { height: 300px; }
100% { height: 100px; }
}
@keyframes rct1 {
0% { height: 300px; }
100% { height: 100px; }
}
@keyframes rct2 {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes rct2 {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes rct3 {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes rct3 {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes rct4 {
0% { height: 100px; }
100% { height: 300px; }
}
@keyframes rct4 {
0% { height: 100px; }
100% { height: 300px; }
}
