/* Code tidied up by ScrapBook */
.W_outFrame fieldset, img { border: 0px none; }
@media not all, not all {
}
@-moz-document url-prefix("") {
  .W_outFrame .W_arrow { line-height: 13px; }
}
@media not all, not all, not all, not all {
}
@media not all, not all, not all, not all {
}
@media not all, not all, not all, not all {
}
.W_outFrame .S_txt4, .W_outFrame .W_btn_a_disable span, .W_btn_a_disable:hover span, .W_outFrame .W_btn_b_disable span, .W_btn_b_disable:hover span, .W_outFrame .W_btn_c_disable span, .W_btn_c_disable:hover span, .W_outFrame .W_btn_d_disable span, .W_btn_d_disable:hover span, .W_outFrame .W_btn_v_disable span, .W_btn_v_disable:hover span, .W_outFrame .W_btn_e_disable span, .W_btn_e_disable:hover span, .W_outFrame .W_btn_f_disable span, .W_btn_f_disable:hover span { color: rgb(204, 204, 204) ! important; }
.W_btn_e { color: rgb(51, 51, 51); }
.W_nologin_main .W_reg_form .tit, .W_nologin_main .W_reg_form .inp .W_input { font-size: 14px; }
.W_reg_sidebar { float: right; width: 210px; margin: 30px 30px 0px 0px; font-size: 14px; line-height: 22px; }
.W_reg_sidebar .line { border-bottom: 1px dotted rgb(204, 204, 204); }
.W_reg_sidebar .p1 { margin: 0px 0px 14px; padding: 0px 0px 6px; word-break: break-all; word-wrap: break-word; }
.W_reg_sidebar .reg_help { font-size: 12px; margin-top: 10px; }
.W_reg_sidebar .reg_help ul li { margin-top: 5px; overflow: hidden; }
.W_reg_sidebar .reg_help ul i { float: left; margin: 4px 10px 0px 0px; width: 15px; height: 18px; line-height: 15px; text-align: center; color: rgb(255, 255, 255); background: url("bg_listNum.png") no-repeat scroll 0% 0% transparent; }
.W_reg_sidebar .reg_help ul a { display: block; overflow: hidden; width: 175px; float: left; }
.W_reg_sidebar .reg_help .help_more { display: inline-block; margin: 16px 0px 0px 25px; }
.B_register .W_nologin_main .W_reg_form { float: left; width: 600px; margin: 30px 0px 0px 30px; }
.B_register .W_nologin_main .W_reg_form .tit { width: 160px; }
.B_register .W_nologin_main .W_reg_form .inp { margin-left: 160px; }
.B_register .W_nologin_main .W_reg_form .tips {  }
.B_register .main_radius_bg .W_reg_form { margin: 29px 0px 0px 20px; padding-bottom: 78px; }
.mail_ico, .mobile_ico { display: inline-block; width: 20px; height: 23px; background: url("reg_method_s.png") no-repeat scroll 0px 0px transparent; vertical-align: middle; margin-right: 9px; }
.mobile_ico { background-position: 0px -24px; }
.W_nologin_main .main_tab_line { padding: 24px 0px 22px 40px; }
.W_nologin_main .main_tab_line a { display: inline-block; font-size: 22px; color: rgb(51, 51, 51); line-height: 33px; }
.W_nologin_main .main_tab_line a:hover { text-decoration: none; }
.W_nologin_main .main_tab_line .cur { border-bottom: 3px solid rgb(255, 160, 10); }
.W_nologin_main .main_tab_line .cur:hover { cursor: default; }
.W_nologin_main .main_tab_line .vline { margin: 0px 19px; color: rgb(153, 153, 153); }
.B_user .W_reg_info, .B_register .W_nologin .W_reg_info { background: url("reg_vline.png") no-repeat scroll 630px 0px transparent; }
.layer_set_country ul { height: 225px; }
.B_reg_tel .W_reg_form .info_submit { margin: 30px 0px 12px; }
.B_reg_tel .W_nologin .W_reg_info, .B_reg_email .W_nologin .W_reg_info { background-position: 630px -45px; }
