/* Code tidied up by ScrapBook */
body, button, input, select, textarea { font: 12px/1.125 Arial,Helvetica,sans-serif; }
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr { margin: 0px; padding: 0px; }
li { list-style: none outside none; }
fieldset, img { border: 0px none; }
a:focus, input, textarea { outline-style: none; }
address, caption, cite, code, dfn, em, i, th, var, b { font-style: normal; font-weight: normal; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
a { color: rgb(10, 140, 210); text-decoration: none; }
a:hover { text-decoration: underline; }
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
.W_Yahei { font-family: "Microsoft Yahei"; }
.W_f18 { font-size: 18px; }
.W_tc { text-align: center; }
.W_face_radius { border-radius: 2px; }
@-moz-document url-prefix("") {
  .W_arrow { line-height: 13px; }
}
.W_autocut { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
@media not all, not all, not all, not all {
}
.WB_global_nav { position: fixed; top: 0px; left: 0px; z-index: 9999; width: 100%; height: 39px; background: url("bg_nav.png") repeat-x scroll 0px 0px transparent; box-shadow: 0px 1px 3px 0px rgb(0, 0, 0); }
.WB_global_nav .gn_bg { height: 41px; background: url("bg_line.png") repeat-x scroll center 38px transparent; }
.WB_global_nav .gn_header { position: relative; width: 980px; margin: 0px auto; }
.WB_global_nav .gn_logo { position: absolute; left: 0px; top: 0px; width: 190px; height: 39px; margin: 0px 0px 0px -27px; background: url("WB_logo.png") no-repeat scroll 0% 0% transparent; }
.WB_global_nav .gn_logo:hover, .WB_global_nav .spec_logo:hover, .WB_global_nav .logo_medium:hover, .WB_global_nav .logo_enterprise:hover, .WB_global_nav .logo_govern:hover { background-position: 0px -39px; }
.WB_global_nav .gn_nav { float: left; margin: 0px 0px 0px 150px; }
.WB_global_nav .gn_title { position: relative; float: left; font-size: 14px; }
@media �screen,screen	 {
}
@media not all, not all, not all, not all {
  .WB_global_nav .gn_logo { background: url("WB_logo-x2.png") no-repeat scroll 0% 0% / 190px 78px transparent; }
}
@keyframes dropdown {
0% { transform: translate(0px, -100%); }
100% { transform: translate(0px, 0px); }
}
.WB_global_personcard fieldset, img { border: 0px none; }
@media �screen,screen	 {
}
@media �screen,screen	 {
}
@keyframes rct1 {
0% { height: 300px; }
100% { height: 100px; }
}
@keyframes rct1 {
0% { height: 300px; }
100% { height: 100px; }
}
@keyframes rct2 {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes rct2 {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes rct3 {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes rct3 {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes rct4 {
0% { height: 100px; }
100% { height: 300px; }
}
@keyframes rct4 {
0% { height: 100px; }
100% { height: 300px; }
}
