/* Code tidied up by ScrapBook */
@media �screen,screen	 {
}
@media �screen,screen	 {
}
@media �screen,screen	 {
}
@media �screen,screen	 {
}
@media �screen,screen	 {
}
@media �screen,screen	 {
}
@media �screen,screen	 {
}
@media �screen,screen	 {
}
@media �screen,screen	 {
}
@-moz-document url-prefix("") {
  .layer_add_tag .tag_showpicL .codetag, .layer_add_tag .tag_showpicR .codetag { line-height: 19px; }
  .layer_add_tag .tag_showpicL .inner .txt, .layer_add_tag .tag_showpicR .inner .txt { font-family: Tahoma; line-height: 19px; }
}
@media �screen,screen	 {
}
@media �screen,screen	 {
}
@-moz-document url-prefix("") {
  .layer_multipic_preview .tag_showpicL .codetag, .layer_multipic_preview .tag_showpicR .codetag { line-height: 19px; }
  .layer_multipic_preview .tag_showpicL .inner .txt, .layer_multipic_preview .tag_showpicR .inner .txt { font-family: Tahoma; line-height: 19px; }
}
@media �screen,screen	 {
}
@media not all, not all {
}
@keyframes html5-video-live-comment {
0% { transform: translate3d(0px, 0px, 0px); }
100% { transform: translate3d(-1500px, 0px, 0px); }
}
