/* Code tidied up by ScrapBook */
.PCD_photo_album_v2 { position: relative; min-height: 470px; background-color: rgb(255, 255, 255); margin-bottom: 20px; }
.PCD_photo_album_v2 .photo_album_null { text-align: center; padding-top: 96px; }
.PCD_photo_album_v2 .photo_album_btn { text-align: center; padding-top: 20px; }
@media ï¿½screen,screen	 {
}
.WB_tab_b .PCD_photo_album_v2_btn a { display: inline-block; padding: 7px 20px 7px 0px; }
