/* Code tidied up by ScrapBook */
.PCD_text_c .t_ul { margin: -1px 0px 0px; }
.PCD_text_c .t_li { padding: 0px 16px; cursor: pointer; }
.PCD_text_c .inner { display: block; height: 30px; padding: 13px 0px 12px; border-top-width: 1px; border-top-style: solid; overflow: hidden; line-height: 30px; }
.PCD_text_c .t_title { margin: 0px -144px 0px 0px; }
.PCD_text_c .ficon_arrow_right { margin: -1px 0px 0px 9px; }
