/* Code tidied up by ScrapBook */
.WB_global_nav { position: fixed; top: 0px; left: 0px; z-index: 9999; width: 100%; height: 48px; border-top: 2px solid rgb(250, 125, 60); box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.15); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.WB_global_nav_alpha { box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 0px 6px 2px rgba(0, 0, 0, 0.15); background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.94); }
.WB_global_nav .gn_header { position: relative; width: 1000px; height: 48px; margin: 0px auto; }
.WB_global_nav .gn_logo { float: left; position: relative; width: 140px; height: 48px; }
.WB_global_nav .gn_logo .box { position: absolute; left: -50px; top: 0px; }
.WB_global_nav .gn_logo .box { width: 190px; height: 48px; cursor: pointer; }
.WB_global_nav .gn_logo .box .logo { display: block; margin-left: 50px; width: 140px; height: 48px; cursor: pointer; background: url("WB_logo.png") no-repeat scroll 0px 40% transparent; }
.WB_global_nav .W_ficon { font-size: 22px; width: 26px; }
.WB_global_nav .ficon_search { font-size: 18px; width: 18px; }
.WB_global_nav .ficon_set, .WB_global_nav .ficon_mail { width: 20px; }
.WB_global_nav .ficon_set { vertical-align: -3px; }
.WB_global_nav .ficon_send { width: 26px; height: 24px; line-height: 24px; text-align: center; color: rgb(255, 255, 255) ! important; border-radius: 2px; background: none repeat scroll 0% 0% rgb(250, 125, 60); }
.WB_global_nav .ficon_send:hover { background: none repeat scroll 0% 0% rgb(244, 114, 46); }
.WB_global_nav .gn_position { float: right; margin-left: -11px; }
.WB_global_nav .gn_search_v2 { position: relative; float: left; width: 288px; height: 28px; margin: 9px 0px 0px 10px; background-color: rgb(242, 242, 245); border: 1px solid rgb(204, 204, 204); }
.WB_global_nav .gn_search_v2 .placeholder, .WB_global_nav .gn_search_v2 .W_input { position: absolute; top: 0px; left: 0px; width: 245px; padding: 4px 33px 4px 10px; height: 20px; line-height: 20px; box-shadow: none; border: medium none; background-color: transparent; color: rgb(128, 128, 128); outline-style: none; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.WB_global_nav_v2 .gn_search_v2 { width: 218px; }
.WB_global_nav_v2 .gn_search_v2 .placeholder, .WB_global_nav_v2 .gn_search_v2 .W_input { width: 175px; }
.WB_global_nav .gn_search_v2 .ficon_search { position: absolute; top: 4px; right: 10px; }
.WB_global_nav .gn_search_v2 .gn_topmenulist_search { left: -11px; }
.WB_global_nav .gn_nav { float: left; margin: 11px 20px 11px 0px; }
.WB_global_nav .gn_nav_list li { float: left; display: inline; position: relative; margin-left: 30px; font-size: 14px; }
.WB_global_nav_v2 .gn_nav_list li { margin-left: 26px; }
.WB_global_nav .gn_nav_list li a { display: block; height: 26px; line-height: 26px; white-space: nowrap; }
.WB_global_nav .gn_nav_list li a .W_ficon { vertical-align: top; }
.WB_global_nav .gn_nav_list li a .S_txt1 { display: inline-block; overflow: hidden; }
.WB_global_nav .gn_nav_list li .W_new { position: absolute; top: 3px; right: -5px; }
.WB_global_nav .gn_nav_list li .gn_name {  }
.WB_global_nav .gn_nav_list li .gn_name .S_txt1 { max-width: 112px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; }
@media �screen,screen	 {
  .WB_global_nav .gn_nav_list li .gn_name .S_txt1 { width: 60px; }
}
.WB_global_nav .gn_set { float: left; margin: 12px 0px; border-left-width: 1px; border-left-style: solid; }
.WB_global_nav .gn_set_list { float: left; display: inline; position: relative; height: 24px; line-height: 24px; margin: 0px 0px 0px 21px; }
.WB_global_nav .gn_topmenulist { position: absolute; z-index: 9998; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(51, 51, 51); border: 1px solid rgb(204, 204, 204); border-radius: 2px; padding: 2px; box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.2); }
.WB_global_nav .gn_topmenulist ul li { position: static; float: none; margin: 0px; padding: 0px; display: inline; }
.WB_global_nav .gn_topmenulist ul li:hover { background-color: rgb(242, 242, 245); }
.WB_global_nav .gn_topmenulist ul li a { white-space: nowrap; min-width: 50px; padding: 9px 13px; line-height: 1em; color: rgb(51, 51, 51); display: block; cursor: pointer; text-decoration: none; overflow: hidden; text-overflow: ellipsis; }
.WB_global_nav .gn_topmenulist ul li.cur a, .WB_global_nav .gn_topmenulist ul li a:hover { position: relative; background-color: rgb(242, 242, 245); text-decoration: none; color: rgb(235, 115, 80); }
.WB_global_nav .gn_topmenulist ul li.line { border-bottom-width: 1px; border-bottom-style: solid; padding: 0px; height: 2px; position: relative; top: -1px; display: block; margin: 0px -2px; }
.WB_global_nav .gn_topmenulist ul li.gn_func { text-align: center; }
.WB_global_nav .gn_topmenulist .W_layer_arrow .W_arrow_bor { position: absolute; overflow: hidden; display: block; }
.WB_global_nav .gn_topmenulist .W_layer_arrow .W_arrow_bor_t { top: -15px; right: 20px; }
.WB_global_nav .gn_topmenulist_notice { width: 144px; top: 34px; right: -17px; }
.WB_global_nav .gn_topmenulist_set { width: 94px; top: 34px; right: -17px; }
.WB_global_nav .gn_topmenulist_tips { min-width: 234px; top: 36px; right: -75px; position: absolute; z-index: 9998; color: rgb(51, 51, 51); border: 1px solid rgb(255, 238, 187); border-radius: 0px 0px 3px 3px; padding: 6px 2px; box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1); background: none repeat scroll 0% 0% rgba(255, 249, 224, 0.94); }
.gn_topmenulist_search { width: 290px; margin-left: 10px; top: 30px; left: 0px; position: absolute; z-index: 9998; }
.WB_global_nav_v2 .gn_topmenulist_search { width: 220px; }
.gn_topmenulist_search .gn_topmenulist { position: static; }
@media screen and (min-width: 1295px) {
  .WB_global_nav .gn_logo .box .logo { background-position: 50% 40%; }
  .WB_global_nav .gn_header { width: 1280px; }
  .WB_global_nav .gn_search_v2 { width: 548px; margin-left: 0px; }
  .WB_global_nav .gn_search_v2 .placeholder, .WB_global_nav .gn_search_v2 .W_input { width: 505px; }
  .WB_global_nav .gn_search_v2 .gn_topmenulist_search { left: -1px; width: 550px; }
  .WB_global_nav_v2 .gn_search_v2 { width: 468px; }
  .WB_global_nav_v2 .gn_search_v2 .placeholder, .WB_global_nav_v2 .gn_search_v2 .W_input { width: 425px; }
  .WB_global_nav_v2 .gn_search_v2 .gn_topmenulist_search { width: 470px; }
  .WB_global_nav .gn_set { margin-right: 10px; }
  .WB_global_nav .gn_topmenulist_search { width: 100%; margin-left: 0px; }
}
@media screen and (max-width: 1006px) {
  .WB_global_nav .gn_header { width: 760px; }
  .WB_global_nav .gn_search_v2 { width: 158px; }
  .WB_global_nav .gn_search_v2 .placeholder, .WB_global_nav .gn_search_v2 .W_input { width: 115px; }
  .WB_global_nav .gn_nav { margin-right: 18px; }
  .WB_global_nav .gn_nav_list li { margin-left: 18px; }
  .WB_global_nav .gn_set { margin-right: 0px; }
  .WB_global_nav .gn_set_list { margin-left: 20px; }
  .WB_global_nav .gn_nav_list li .gn_name .S_txt1 { max-width: 43px; }
  .WB_global_nav_v2 .gn_nav_list li .gn_name { display: none; }
  .WB_global_nav .gn_topmenulist_search { width: auto; min-width: 160px; }
}
.WB_global_nav .S_spetxt, .WB_global_nav a.S_ficon:hover, .WB_global_nav a:hover .S_ficon, .WB_global_nav a.current .S_ficon { color: rgb(250, 125, 60); }
.WB_global_nav a, .WB_global_nav .S_link1, .WB_global_nav a.S_txt1:hover, .WB_global_nav a:hover .S_txt1, .WB_global_nav a.current .S_txt1, .WB_global_nav a.S_txt2:hover, .WB_global_nav .SW_fun:hover .S_func1 { color: rgb(235, 115, 80); }
.WB_global_nav .S_txt1, .WB_global_nav .SW_fun .S_func1 { color: rgb(51, 51, 51); text-decoration: none; }
.WB_global_nav .S_ficon, .WB_global_nav .S_ficon_dis, .WB_global_nav a.S_ficon_dis:hover, .WB_global_nav a:hover .S_ficon_dis { color: rgb(105, 110, 120); }
.WB_global_nav .S_bg2_br { border-color: rgb(255, 255, 255); }
.WB_global_nav .S_line1 { border-color: rgb(217, 217, 217); }
.WB_global_nav .S_line3, .WB_global_nav .W_input { border-color: rgb(204, 204, 204); }
.WB_global_nav .W_arrow_bor_t i, .WB_global_nav .W_arrow_bor_t em { border-top-color: transparent; border-right-color: transparent; border-left-color: transparent; }
@media not all, not all {
  .WB_global_nav .gn_logo .box .logo { background-image: url("WB_logo-x2.png"); background-size: 80px 27px; }
}
.WB_global_nav .gn_logo { left: auto; top: auto; margin: 0px; background: none repeat scroll 0% 0% transparent; }
.WB_global_nav .gn_topmenulist_search { min-width: inherit; margin-top: 0px; margin-left: 10px; border-radius: 0px; box-shadow: none; }
.WB_global_nav .W_new { display: block; margin: 0px; }
.WB_global_nav .W_input { border-radius: 0px; }
@media screen and (min-width: 1295px) {
  .WB_global_nav .gn_topmenulist_search { width: 100%; margin-left: 0px; }
}
@media screen and (max-width: 1006px) {
  .WB_global_nav .gn_topmenulist_search { width: auto; }
}
@media not all, not all {
  .WB_global_nav .gn_logo { background: none repeat scroll 0% 0% transparent ! important; }
}
@media screen and (min-width: 1295px) {
}
@media screen and (max-width: 1006px) {
}
@media not all, not all {
}
@media screen and (max-width: 1006px) {
}
@media not all, not all {
}
.WB_global_nav { font: 12px/1.3 Arial,Microsoft YaHei; color: rgb(51, 51, 51); }
.WB_global_nav, .WB_global_nav dl, .WB_global_nav dt, .WB_global_nav dd, .WB_global_nav ul, .WB_global_nav ol, .WB_global_nav li, .WB_global_nav form, .WB_global_nav input, .WB_global_nav textarea, .WB_global_nav p { margin: 0px; padding: 0px; }
.WB_global_nav em, .WB_global_nav i { font-style: normal; font-weight: normal; }
.WB_global_nav ol, .WB_global_nav ul { list-style: none outside none; }
.WB_global_nav a:focus { outline-style: none; }
.WB_global_nav input, .WB_global_nav textarea, .WB_global_nav select { font-family: inherit; font-size: inherit; font-weight: inherit; }
.WB_global_nav a { text-decoration: none; cursor: pointer; }
.W_new { width: 6px; height: 6px; display: inline-block; border: 0px none; box-shadow: none; border-radius: 3px; background: none repeat scroll 0% 0% rgb(250, 125, 60); overflow: hidden; }
.W_arrow_bor i, .W_arrow_bor em { display: inline-block; width: 0px; height: 0px; border-width: 7px; border-style: solid; overflow: hidden; font-size: 0px; line-height: 0; vertical-align: top; }
.W_arrow_bor_t i, .W_arrow_bor_t em { border-top-color: transparent; border-right-color: transparent; border-left-color: transparent; }
.W_arrow_bor_t em { margin: 1px 0px 0px -14px; }
.WB_global_nav .W_ficon, .WB_global_nav .W_ficon:hover { display: inline-block; width: 26px; height: 25px; background-image: url("icon_out.png") ! important; background-repeat: no-repeat; overflow: hidden; text-indent: -9999px; vertical-align: 0px; text-align: left; }
.WB_global_nav .ficon_home { background-position: -50px 1px; }
.WB_global_nav .ficon_found { background-position: -50px -24px; }
.WB_global_nav .ficon_game { background-position: -50px -50px; }
.WB_global_nav .ficon_video_v2 { background-position: -50px -300px; width: 28px; }
.WB_global_nav .ficon_user { background-position: -50px -75px; width: 22px; margin-right: 4px; }
.WB_global_nav .ficon_mail { background-position: -50px -100px; width: 20px; }
.WB_global_nav .ficon_set { background-position: -50px -125px; width: 20px; }
.WB_global_nav .ficon_search { background-position: -50px -175px; width: 22px; }
.WB_global_nav .ficon_send { background-position: -50px -275px; width: 26px; height: 24px; }
.FRAME_main .WB_global_nav .ficon_home, .WB_global_nav a:hover .ficon_home, .WB_global_nav .current .ficon_home { background-position: -80px 1px; }
.WB_global_nav a:hover .ficon_found, .WB_global_nav .current .ficon_found { background-position: -80px -24px; }
.WB_global_nav a:hover .ficon_game, .WB_global_nav .current .ficon_game { background-position: -80px -50px; }
.WB_global_nav a:hover .ficon_video_v2, .WB_global_nav .current .ficon_video_v2 { background-position: -80px -300px; width: 28px; }
.WB_global_nav a:hover .ficon_user, .WB_global_nav .current .ficon_user { background-position: -80px -75px; width: 22px; }
.WB_global_nav a:hover .ficon_mail, .WB_global_nav .current .ficon_mail { background-position: -80px -100px; width: 20px; }
.WB_global_nav a:hover .ficon_set, .WB_global_nav .current .ficon_set { background-position: -80px -125px; width: 20px; }
.WB_global_nav a.ficon_search:hover, .WB_global_nav .current .ficon_search { background-position: -80px -175px; width: 22px; }
.WB_global_nav .ficon_send:hover, .WB_global_nav .current .ficon_send { background-position: -80px -275px; width: 26px; height: 24px; }
@media not all, not all {
  .male, .female, .icon_male, .icon_female, .icon_approve, .icon_approve_gold, .icon_approve_co, .icon_approve_dead, .icon_club, .icon_vlady, .icon_member, .icon_member_dis, .icon_member1, .icon_member2, .icon_member3, .icon_member4, .icon_member5, .icon_member6, .icon_member7, .WB_global_nav .W_ficon, .WB_global_nav .W_ficon:hover { background-image: url("icon_out-x2.png") ! important; background-size: 150px 325px; }
}
@media �screen,screen	 {
}
@keyframes stepsV1 {
0% { background-position: left center; }
100% { background-position: right center; }
}
#js_style_css_module_global_WB_outframe { height: 42px; }
